.identidadeSection {
    position: relative;
    background: url('../../../../public/images/background/background7.png') no-repeat center center;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glassEffect1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro8); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.auxiliar {
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 10% 5% 10%; /* Top - Right - Bottom - Left */
}
.divisoria {
    width: 6px; /* Espessura da linha */
    background-color: var(--color4); /* Cor da linha */
    height: auto; /* Altura da linha igual às divs adjacentes */
}
.divisao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.divisao2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.identidadeTitle, .identidadeSubTitle, .identidadeText {
    color: white;
}
.identidadeTitle {
    font-size: var(--titleFont);
    text-align: center;
    font-weight: 600;
}
.identidadeSubTitle {
    padding-bottom: 20px;
    font-size: var(--subTitleFont);
    font-weight: 600;
}
.identidadeText {
    text-indent: 3em;
    text-align: justify;
    font-size: var(--textFont);
    font-weight: 300;
}
/* =============================================== */
.estruturaSection {
    position: relative;
    background: url('../../../../public/images/background/background8.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 5% 10% 5% 10%; /* Top - Right - Bottom - Left */
}
.estruturaTitle, .estruturaText {
    color: white;
}
.estruturaTitle {
    font-size: var(--titleFont);
    font-weight: 600;
}
.estruturaText {
    text-indent: 3em;
    text-align: justify;
    font-size: var(--textFont);
    font-weight: 300;
}
/* =============================================== */
.historiaSection {
    background-color: var(--color9);
    padding: 5% 10% 5% 10%; /* Top - Right - Bottom - Left */
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.historiaSubTitle {
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
}
.lateral {
    width: 32px; /* Espessura da linha */
    background-color: var(--color4); /* Cor da linha */
    height: auto; /* Altura da linha igual às divs adjacentes */
}
/* =============================================== */
.cardSection {
    position: relative;
    background: url('../../../../public/images/background/background9.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glassEffect2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro9); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.missao {
    background: url('../../../../public/images/cards/missao.png') no-repeat center center;
    background-size: cover;
}
.visao {
    background: url('../../../../public/images/cards/visao.png') no-repeat center center;
    background-size: cover;
}
.valores {
    background: url('../../../../public/images/cards/valores.png') no-repeat center center;
    background-size: cover;
}
.flip {
    background-color: transparent;
    width: 320px;
    height: 470px;
    perspective: 1000px;
    margin: 20px auto;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.flip:hover .inner {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    border-radius: 10px;
    padding: 30px;
}
.front {
    justify-content: center;
    align-items: center;
}
.back {
    background-color: var(--color2);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}
.cardFrontTitle {
    color: white;
    font-size: var(--titleFont);
    font-weight: 600;
}
.cardBackTitle {
    color: var(--color19);
    font-weight: 600;
    font-size: var(--subTitleFont);
}
.cardBackText {
    color: var(--color1);
    text-align: justify;
    text-indent: 2em;
    font-size: var(--textFont);
    font-weight: 300;
}
.cards {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5% 10% 5% 10%; /* Top - Right - Bottom - Left */
}