:root {
    --color1: #BE7052;
    --color2: #F1DED1;
    --color3: #FFFFFF;
    --color4: #F2C083;
    --color5: #504D4D;
    --color6: #582A20;
    --color7: #591506;
    --color8: #A66A22;
    --color9: #AC4D4D;
    --color10: #7E2626;
    --color11: #BD996E;
    --color12: #CDA993;
    --color13: #965E5E;
    --color14: #D9D9D9;
    --color15: #7E5757;
    --color16: #938261;
    --color17: #3F2121;
    --color18: #9C5D45;
    --color19: #EC9934;

    --vidro1: #F6D6B58E;
    --vidro2: #59150650;
    --vidro3: #A66A228D;
    --vidro4: #FFFFFF80;
    --vidro5: #7E575780;
    --vidro6: #3F212180;
    --vidro7: #441818C8;
    --vidro8: #7E262670;
    --vidro9: #CDA993BD;

    --titleFont: 32px;
    --subTitleFont: 22px;
    --textFont: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}