.welcomeSection {
    position: relative;
    display: flex;
    flex-direction: row;
    background: url('../../public/images/background/background1.png') no-repeat center center;
    background-size: cover;
    padding: 10%;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.glassEffect1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro1); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 1; /* Coloque o efeito abaixo do conteúdo */
}
.glassEffect2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro2); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.welcome {
    z-index: 2;
}
.logo {
    height: 350px;
    width: auto;
    z-index: 2;
}
.welcomeH2 {
    color: var(--color6);
    font-size: 36px;
    padding-bottom: 25px;
    font-weight: 600;
}
.welcomeH1 {
    color: var(--color1);
    font-size: 42px;
    font-weight: 600;
}
.objectiveSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url('../../public/images/background/background2.png') no-repeat center center;
    background-size: cover;
    padding: 10%;
    /* gap: 3%; */
}
.glassEffect3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro3); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.auxiliar {
    z-index: 2;
}
.objectiveTitle {
    color: var(--color4);
    font-size: 34px;
    padding-bottom: 25px;
}
.objectiveText {
    font-size: 22px;
    text-indent: 2em;
    padding-bottom: 65px;
}
.infoTitle {
    color: var(--color4);
    font-size: 22px;
    font-weight: 600;
}
.infoText {
    font-size: 22px;
}
.info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.glassEffect2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro4); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.teamSection {
    background: url('../../public/images/background/background3.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.imagem {
    height: auto;
    width: 100%;
}
.teamTitle {
    color: var(--color9);
    font-size: 34px;
    padding-bottom: 60px;
}
.teamImage, .teamText {
    width: 50%;
}
.teamText {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.saibaMais {
    display: inline-flex; /* Permite alinhar o texto e o ícone horizontalmente */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-decoration: none; /* Remove o sublinhado padrão de links */
    color: var(--color9); /* Cor inicial do texto */
    background-color: transparent; /* Fundo inicial */
    padding: 10px 20px; /* Ajuste o espaçamento interno */
    border: 2px solid var(--color9); /* Borda inicial */
    border-radius: 8px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição suave para o hover */
}
.teamInfo {
    padding-bottom: 60px;
    color: var(--color5);
    font-size: 22px;
}
.icons {
    font-weight: 600;
    font-size: 22px;
    color: var(--color9);
    transition: transform 0.3s ease;
}
.saibaMais:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho */
}
  
.saibaMais:hover .icons {
    transform: translateX(5px); /* Move o ícone um pouco para a direita */
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}