.welcomeSection {
    position: relative;
    display: flex;
    flex-direction: row;
    background: url('../../public/images/background/backgroundx.jpg') no-repeat center center;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    background-size: cover;
    padding: 10%;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.glassEffect1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro1); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 1; /* Coloque o efeito abaixo do conteúdo */
}
.glassEffect2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro2); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.welcome {
    z-index: 2;
}
.logo {
    height: 350px;
    width: auto;
    z-index: 2;
}
.welcomeH2 {
    color: var(--color6);
    font-size: var(--titleFont);
    padding-bottom: 25px;
    font-weight: 600;
}
.welcomeH1 {
    color: var(--color1);
    font-size: 38px;
    font-weight: 600;
}
.objectiveSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background: url('../../public/images/background/background2.png') no-repeat center center;
    background-size: cover;
    padding: 10%;
    /* gap: 3%; */
}
.glassEffect3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro3); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.auxiliar {
    z-index: 2;
}
.objectiveTitle {
    color: var(--color4);
    font-size: var(--titleFont);
    padding-bottom: 25px;
}
.objectiveText {
    font-size: var(--textFont);
    text-indent: 2em;
    padding-bottom: 65px;
    color: white;
}
.infoTitle {
    color: var(--color4);
    font-weight: 600;
}
.infoText {
    font-size: var(--textFont);
    color: white;
    padding-bottom: 10px;
}
.glassEffect4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro4); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.teamSection {
    position: relative;
    background: url('../../public/images/background/background3.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.imagem {
    height: auto;
    width: 100%;
}
.teamTitle {
    color: var(--color9);
    font-size: var(--titleFont);
    padding-bottom: 60px;
    z-index: 1;
}
.imagem, .teamText {
    width: 50%;
    z-index: 1;
}
.teamText {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.saibaMais {
    display: inline-flex; /* Permite alinhar o texto e o ícone horizontalmente */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-decoration: none; /* Remove o sublinhado padrão de links */
    color: var(--color9); /* Cor inicial do texto */
    background-color: transparent; /* Fundo inicial */
    padding: 10px 20px; /* Ajuste o espaçamento interno */
    border: 2px solid var(--color9); /* Borda inicial */
    border-radius: 8px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição suave para o hover */
    gap: 5px;
}
.teamInfo {
    padding-bottom: 60px;
    color: var(--color5);
    font-size: var(--textFont);
}
.icons {
    font-weight: 600;
    font-size: var(--textFont);
    color: var(--color9);
    transition: transform 0.3s ease;
}
.saibaMais:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho */
}
.saibaMais:hover .icons {
    transform: translateX(5px); /* Move o ícone um pouco para a direita */
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}
/* =============================================== */
.glassEffect5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--vidro7); /* Fundo translúcido */
    backdrop-filter: blur(1px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com Safari */
    z-index: 0; /* Coloque o efeito abaixo do conteúdo */
}
.linkSection {
    position: relative;
    background: url('../../public/images/background/background4.png') no-repeat center center;
    background-attachment: fixed; /* Fixa a imagem de fundo */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkConteudo {
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 5% 10% 5% 10%; /* Top - Right - Bottom - Left */
}
.divisoria {
    width: 1px; /* Espessura da linha */
    background-color: var(--color2); /* Cor da linha */
    height: auto; /* Altura da linha igual às divs adjacentes */
}
.divisao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    gap: 80px;
}
.divisaoTitle, .divisaoText, .buttonIcon {
    color: var(--color2);
}
.divisaoTitle {
    font-size: var(--titleFont);
    font-weight: 700;
}
.divisaoText {
    font-size: var(--textFont);
    text-align: center;
}
.button {
    display: inline-flex; /* Permite alinhar o texto e o ícone horizontalmente */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-decoration: none; /* Remove o sublinhado padrão de links */
    color: var(--color2); /* Cor inicial do texto */
    background-color: transparent; /* Fundo inicial */
    padding: 10px 20px; /* Ajuste o espaçamento interno */
    border: 2px solid var(--color2); /* Borda inicial */
    border-radius: 8px; /* Bordas arredondadas */
    transition: all 0.3s ease; /* Transição suave para o hover */
    gap: 5px;
}
.buttonIcon {
    font-weight: 600;
    font-size: 22px;
    color: var(--color2);
    transition: transform 0.3s ease;
}
.button:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho */
}
.button:hover .buttonIcon {
    transform: translateX(5px); /* Move o ícone um pouco para a direita */
    transition: transform 0.3s ease; /* Transição suave para o movimento */
}